<div class="page-header">
  <%= link_to '/base/setting', class: 'btn btn-default' do %>
    <span class="glyphicon glyphicon-list-alt"></span>
    戻る
  <% end %>
  <h1>チケット管理ツール認証情報新規登録</h1>
</div>

<%= render 'form' %>
