<div class="page-header">
  <%= link_to developers_path, class: 'btn btn-default' do %>
    <span class="glyphicon glyphicon-list-alt"></span>
    戻る
  <% end %>

  <h1>開発者情報取得</h1>
  <p>チケット管理リポジトリの認証情報を入力してください。</p>
</div>
