<div class="page-header">
  <%= link_to developers_path, class: 'btn btn-default' do %>
    <span class="glyphicon glyphicon-list-alt"></span>
    戻る
  <% end %>
  <%= link_to @developer, class: 'btn btn-primary' do %>
    <span class="glyphicon glyphicon-info-sign"></span>
    詳細
  <% end %>
  <h1>開発者編集</h1>
</div>

<%= render 'form' %>
