<div class="page-header">
  <%= link_to developers_path, class: 'btn btn-default' do %>
    <span class="glyphicon glyphicon-list-alt"></span>
    戻る
  <% end %>

  <h1>新規開発者登録</h1>
</div>

<div class="table-responsive">
  <table class="table table-striped table-bordered table-hover">
    <thead>
      <tr>
        <th>開発者名</th>
        <th>mail</th>
      </tr>
    </thead>

    <tbody>
      <% @developer_info[:developers].each do |developer| %>
        <tr>
          <td><%= developer[:lastname]+' '+developer[:firstname] %></td>
          <td><%= developer[:mail] %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
