<button type="button" class="btn btn-primary btn-lg setting-button" onclick="jump('/ticket_repositories/new')">チケット管理リポジトリの新規登録</button>
<button type="button" class="btn btn-primary btn-lg setting-button" onclick="jump('/redmine_keys/new')">チケット管理リポジトリ認証情報の登録</button>
