<div class="page-header">
  <%= link_to '/base/setting', class: 'btn btn-default' do %>
    <span class="glyphicon glyphicon-list-alt"></span>
    戻る
  <% end %>
  <h1>チケット管理ツールリポジトリ新規登録</h1>
  <p>
  登録したいRedmineリポジトリのURLを記入してください。
  既に登録されている場合は、左下の[Skip]ボタンをクリックして、認証情報の登録に進んでください。
  </p>
</div>

<%= render 'form' %>
