<button type="button" class="btn btn-primary btn-lg setting-button" onclick="jump('/developers')">開発者管理</button>
<button type="button" class="btn btn-primary btn-lg setting-button" onclick="jump('/projects')">プロジェクト管理</button>
<button type="button" class="btn btn-primary btn-lg setting-button" onclick="jump('/ticket_repositories')">Redmine情報管理</button>
<button type="button" class="btn btn-primary btn-lg setting-button" onclick="jump('/version_repositories')">GitHub情報管理</button>
<button type="button" class="btn btn-primary btn-lg setting-button" onclick="jump('/users')">システムユーザ管理</button>
