<button type="button" class="btn btn-primary btn-lg setting-button" onclick="jump('/developers')">開発者一覧</button>
<button type="button" class="btn btn-primary btn-lg setting-button" onclick="jump('/projects')">プロジェクト一覧</button>
<button type="button" class="btn btn-primary btn-lg setting-button" onclick="jump('/ticket_repositories/')">Redmine認証情報一覧</button>
<button type="button" class="btn btn-primary btn-lg setting-button" onclick="jump('/version_repositories')">Github認証情報一覧</button>
