<button type="button" class="btn btn-primary btn-lg setting-button" onclick="jump('/developers')">開発者一覧</button>
<button type="button" class="btn btn-primary btn-lg setting-button" onclick="jump('/projects')">プロジェクト一覧</button>
<button type="button" class="btn btn-primary btn-lg setting-button" onclick="jump('/ticket_repositories/new')">Redmine認証情報登録</button>
<button type="button" class="btn btn-primary btn-lg setting-button" onclick="jump('/assign_logs')">所属情報作成</button>
