<div class="page-header">
  <%= link_to version_repositories_path, class: 'btn btn-default' do %>
    <span class="glyphicon glyphicon-list-alt"></span>
    戻る
  <% end %>
  <%= link_to @version_repository, class: 'btn btn-primary' do %>
    <span class="glyphicon glyphicon-info-sign"></span>
    詳細
  <% end %>
  <h1>Github認証情報編集</h1>
</div>

<%= render 'form' %>
