<div class="page-header">
  <%= link_to assign_logs_path, class: 'btn btn-default' do %>
    <span class="glyphicon glyphicon-list-alt"></span>
    戻る
  <% end %>
  <h1>新規所属情報作成</h1>
</div>

<%= render 'form' %>
