<div class="page-header">
  <%= link_to assign_logs_path, class: 'btn btn-default' do %>
    <span class="glyphicon glyphicon-list-alt"></span>
    戻る
  <% end %>
  <h1>新規所属情報作成</h1>
  <p>
  開発者名と、その開発者が所属するプロジェクト名を選択してください。
  </p>
</div>

<%= render 'form' %>
