<div class="page-header">
  <%= link_to assign_logs_path, class: 'btn btn-default' do %>
    <span class="glyphicon glyphicon-list-alt"></span>
    戻る
  <% end %>
  <h1>所属情報詳細</h1>
</div>

<dl class="dl-horizontal">
  <dt>開発者名:</dt>
  <% @developer = Developer.find(@assign_log.developer_id) %>
  <dd><%= @developer.name %></dd>
  <dt>プロジェクト名:</dt>
  <% @project = Project.find(@assign_log.project_id) %>
  <dd><%= @project.name %></dd>

</dl>
