<nav class="navbar navbar-default navbar-fixed-top" role="navigation">
  <div class="container">
    <div class="navbar-header">
      <a href='/' class="navbar-brand">MITEMIRU</a>
    </div>
    <ul class="nav navbar-nav">
      <li>
        <a href="/">
          <span class="glyphicon glyphicon-home"></span>
          トップに戻る
        </a>
      </li>
      <li>
        <a href="/projects/info">
          プロジェクト登録
        </a>
      </li>
      <li>
        <a href="/portfolio/index">
          ポートフォリオを見る
        </a>
      </li>
      <li>
        <a href="/comp/index">
          比較をする
        </a>
      </li>
    </ul>
    <ul class="nav navbar-nav navbar-right">
      <li>
        <a href="/base/setting">
          <span class="glyphicon glyphicon-cog"></span>
          各種設定
        </a>
      </li>
    </ul>
  </div>
</nav>
