<p>hello from form</p>

<%= form_tag('/commit_counter/index') do %>
  <div class="control-group">
    <%= label_tag(:developer_id, "開発者名") %>
    <%= collection_select(:page, :developer_id, @developer.all, :id, :name) %>
    <%= button_tag do %>
      <span>Select</span>
    <% end %>
  </div>
<% end %>
