<div class="page-header">
  <%= link_to projects_path, class: 'btn btn-default' do %>
      <span class="glyphicon glyphicon-list-alt"></span>
      戻る
  <% end %>
  <h1>redmineリポジトリの新規追加</h1>
</div>

