<div class="page-header">
  <%= link_to projects_path, class: 'btn btn-default' do %>
      <span class="glyphicon glyphicon-list-alt"></span>
      戻る
  <% end %>
  <h1>redmineリポジトリの確認</h1>
</div>

<dl class="dl-horizontal">

  <dt>ホスト名:</dt>
  <dd><%= @ticket_repository.host_name %></dd>
  <dt>プロジェクト名:</dt>
  <dd><%= @ticket_repository.project_name %></dd>


</dl>
