<div class="page-header">
  <%= link_to projects_path, class: 'btn btn-default' do %>
      <span class="glyphicon glyphicon-list-alt"></span>
      戻る
  <% end %>
  <h1>githubリポジトリの確認</h1>

</div>

<dl class="dl-horizontal">

  <dt>名前:</dt>
  <dd><%= @project.name %></dd>
  <dt>githubのURL:</dt>
  <dd><%= @url %></dd>
  <dt>ログインID:</dt>
  <dd><%=  %></dd>


</dl>
