<button type="button" class="btn btn-primary btn-lg setting-button" onclick="jump('/projects/auth')">Redmineから登録する</button>
<button type="button" class="btn btn-primary btn-lg setting-button" onclick="jump('/projects/new')">.gitファイルから登録する</button>
