<p>プロジェクト名・開始月を入力して下さい。</p>
<p>各種ツールへの認証に必要な情報を入力してください。(どちらかは必須)</p>
<br>
<br>
<%= form_tag '/projects/confirm' do %>
  <div class="form-group">
    <div class="table-responsive">
      <label class="col-sm-2 control-label">プロジェクト名<font color='red'>(必須)</font></label>
      <div class="col-sm-5">
        <input type="text" name="name" class="form-control" id="name" />
      </div>
      <div class="form-group">
        <label class="col-sm-2 control-label">プロジェクト開始日<br><font color="red">(必須)</font></label>
        <div class="col-sm-2 input-group date">
          <input type="text" name="project_start_date" class="form-control" id="project_start_date" readonly="readonly" value=<%= @today %>/>
          <span class="input-group-addon datetimepicker"><span class="glyphicon glyphicon-calendar"></span></span>
        </div>
      </div>
      <%# TODO: プロジェクト終了月不必要説ある %>
      <%# TODO: RedmineAPIキー不必要説ある %>
      <br>
      <h4>Redmine</h4>
      <br>
      <div class="form-group">
        <label class="col-sm-2 control-label">ホスト名</label>
        <div class="col-sm-5">
          <input type="text" name="redmine_host" class="form-control" id="redmine_host" />
        </div>
      </div>
      <br>
      <br>
      <div class="form-group">
        <label class="col-sm-2 control-label">プロジェクト名(識別子)</label>
        <div class="col-sm-5">
          <input type="text" name="redmine_project_name" class="form-control" id="redmine_project_name" />
        </div>
      </div>
      <br>
      <br>
      <div class="form-group">
        <label class="col-sm-2 control-label">ログインID</label>
        <div class="col-sm-5">
          <input type="text" name="redmine_login_id" class="form-control" id="redmine_login_id" />
        </div>
      </div>
      <br>
      <div class="form-group">
        <label class="col-sm-2 control-label">パスワード</label>
        <div class="col-sm-5">
          <input type="password" name="redmine_password_digest" class="form-control" id="password_digest" />
        </div>
      </div>
      <br>
      <h4>GitHub</h4>
      <br>
      <div class="form-group">
        <label class="col-sm-2 control-label">プロジェクト名</label>
        <div class="col-sm-5">
          <input type="text" name="github_project_name" class="form-control" id="github_project_name" />
        </div>
      </div>
      <br>
      <br>
      <div class="form-group">
        <label class="col-sm-2 control-label">リポジトリ名</label>
        <div class="col-sm-5">
          <input type="text" name="github_repo" class="form-control" id="github_repo" />
        </div>
      </div>
      <br>
      <br>
      <div class="form-group">
        <label class="col-sm-2 control-label">ログインID</label>
        <div class="col-sm-5">
          <input type="text" name="github_login_id" class="form-control" id="github_login_id" />
        </div>
      </div>
      <br>
      <div class="form-group">
        <label class="col-sm-2 control-label">パスワード</label>
        <div class="col-sm-5">
          <input type="password" name="github_password_digest" class="form-control" id="password_digest" />
        </div>
      </div>
      <br>
      <div class="col-sm-10">
        <input type="submit" value="認証" id="new_project_button" class="btn btn-primary" />
      </div>
    </div>
  </div>
<% end %>
