<p>
  Redmineへの認証に必要な情報をを入力してください。
  APIキーは任意で入力してください。
</p>
<div class="form-group">
  <div class="table-responsive">
    <div class="form-group">
      <label class="col-sm-2 control-label" for="url_ＵＲＬ">ＵＲＬ</label>
      <div class="col-sm-8">
        <input type="text" name="url" class="form-control" id="url" />
      </div>
    </div>
    <br>
    <div class="form-group">
      <label class="col-sm-2 control-label">ログイン名</label>
      <div class="col-sm-5">
        <input type="text" name="login_id" class="form-control" id="login_id" />
      </div>
    </div>
    <br>
    <div class="form-group">
      <label class="col-sm-2 control-label">パスワード</label>
      <div class="col-sm-5">
        <input type="text" name="password_digest" class="form-control" id="password_digest" />
      </div>
    </div>
    <br>
    <div class="form-group">
      <label class="col-sm-2 control-label">ＡＰＩキー</label>
      <div class="col-sm-5">
        <input type="text" name="api_key" class="form-control" id="api_key" />
      </div>
    </div>
    <br>
    <div class="col-sm-10">
      <input type="submit" value="認証" id="redmine_auth_button" class="btn btn-primary" />
    </div>
  </div>
</div>

<div id="addArea"></div>
