<div class="page-header">
  <h1>開発者<%= @assigneeArg %>のcomments詳細表示.</h1>
  <p>開発者<%= @assigneeArg %>が同じチームの他のメンバにコメントした回数が表示されている</p>
  <p>線の太さ、上の数字と矢印の大きさで他のメンバにコメントした回数が明らかに表示されている</p>
  <p>画像がdrag&dropできる</p>
</div>

<%= include_gon %>
<%= javascript_include_tag "comments_counter_graph" %>
<script src="https://cdnjs.cloudflare.com/ajax/libs/d3/3.5.5/d3.min.js"></script>



