<div class="page-header">
  <h1>開発者のcomments活動を表示ます.</h1>
</div>

<%= include_gon %>
<%= javascript_include_tag "comments_counter_graph" %>
<script src="https://cdnjs.cloudflare.com/ajax/libs/d3/3.5.5/d3.min.js"></script>



