<div class="page-header">
  <h1>開発者<%= @assigneeArg %>のコメント数を表示します。</h1>
  <p>線上の数字は、<%= @assigneeArg %>の各開発者に対するコメント数です。</p>
</div>

<%= javascript_include_tag "comments_counter_graph" %>
<script src="https://cdnjs.cloudflare.com/ajax/libs/d3/3.5.5/d3.min.js"></script>



