<%= form_tag({:contoller => 'portfolio', :action => 'index'}) do %>
  <div class="control-group">
    <%= label_tag(:id, "開発者名") %>
    <%= collection_select(:developer_info, :id, @developer.all, :id, :name) %>
    <%= button_to "Select" %>
  </div>
<% end %>
