<%= form_tag({:controller => 'portfolio', :action => 'ticket_digestion'}) do %>
  <div class="control-group">
    <%= label_tag(:project_id, "プロジェクト名") %>
    <%= collection_select(:project_info, :project_id, @project.all, :id, :name) %>
    <%= button_to "Select" %>
  </div>
<% end %>
