<div class="page-header">
  <h1>開発者のポートフォリオを表示します.</h1>
<!-- Place somewhere in the <body> of your page -->
<div class="flexslider">
  <ul class="slides">
    <li>
      <%= image_tag "slide1.jpg" %>
    </li>
    <li>
      <%= image_tag "slide2.jpg" %>
    </li>
    <li>
      <%= image_tag "slide3.jpg" %>
    </li>
  </ul>
</div>
</div>

