<div class="control-group">
  <%= label_tag(:project_id, "プロジェクト名") %>
  <%= collection_select(:project_info, :id, @projects, :id, :name) %>
  <button id="selectProjectBtn" class="btn btn-default">選択</button>
</div>

<h1 id="ticket_digestion_graph_h1"></h1>
<p id="ticket_digestion_graph_p"></p>
