<div class="page-header">
  <%= link_to '/', class: 'btn btn-default' do %>
    <span class="glyphicon glyphicon-list-alt"></span>
    トップに戻る
  <% end %>

  <h1>ポートフォリオ</h1>
  <p>開発者とプロジェクトを選択してください</p>
</div>

<div class="form">
  <%= render 'dev_form' %>
</div>
