<div class="page-header">
  <%= link_to new_redmine_path, class: 'btn btn-default' do %>
    <span class="glyphicon glyphicon-list-alt"></span>
    戻る
  <% end %>
  <h1>Redmine新規認証情報登録</h1>
</div>

<% #= render 'form' %>
