<nav class="navbar navbar-default navbar-fixed-top" role="navigation">
  <div class="container">
    <div class="navbar-header">
      <a href='/' class="navbar-brand">MITEMIRU</a>
    </div>
    <ul class="nav navbar-nav">
      <li onclick="jump('/')">
        <a href>
          <span class="glyphicon glyphicon-home"></span>
          トップに戻る
        </a>
      </li>
      <li onclick="jump('/projects/select_developer')">
        <a href>
          プロジェクト登録
        </a>
      </li>
      <li onclick="jump('/portfolio/index')">
        <a href>
          ポートフォリオを見る
        </a>
      </li>
      <li onclick="jump('/comp/index')">
        <a href>
          比較をする
        </a>
      </li>
    </ul>
    <ul class="nav navbar-nav navbar-right">
      <li onclick="jump('/base/setting')">
        <a href>
          <span class="glyphicon glyphicon-cog"></span>
          各種管理
        </a>
      </li>
    </ul>
  </div>
</nav>
